parameter_defaults:
  instance_name: gaar-restobot-vm
  image: ubuntu-24.04
  flavor: m1.small
  network: student-net
  subnet: student-subnet-1
  key_name: gaar-key-pair
  ssh_user: restobot
  ssh_public_key: "ssh-ed25519 AAAA... replace-me"
  app_port: 8089
