parameter_defaults:
  instance_name: gubkovskiy-restobot
  image: ubuntu-24.04
  flavor: m1.small
  network: student-net
  subnet: student-subnet-1
  external_network: public-ext
  key_name: Gubkovskiy-key
  ssh_user: restobot
  ssh_public_key: "ssh-ed25519 AAAA... replace-me"
  app_port: 8089
